<configuration>
    <property name="STDOUT_PATTERN" value="%magenta(%date{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-7.7([%.5level])) %cyan(%32.32logger{16}) [%.9thread] %message%n%xException"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- ISO-8601 with timezone, one-line, no extra blank lines -->
            <pattern>${STDOUT_PATTERN}</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- enable debug for your package if you want -->
    <logger name="com.contare" level="DEBUG" />
    <logger name="com.contare.chafon" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
